{{ ansible_managed | comment }}

{{ nginx_conf.root.options }}

events {
    {{ nginx_conf.events.options | indent(4, False) }}
}

http {
    {{ nginx_conf.http.options | indent(4, False) }}

    {% if nginx_conf.http.default_server.enabled -%}
    server {
        {{ nginx_conf.http.default_server.content | indent(8, False) }}
    }

    {% endif -%}
    include {{ nginx_config_paths.folders.sites_enabled }}/*.conf;
}
