# {{ ansible_managed }}

{% if item.upstreams is defined %}
{% for upstream_item in item.upstreams %}
upstream {{ upstream_item.name }} {
{% for upstream_option in upstream_item.options %}
    {{ upstream_option }}
{% endfor %}
}
{% endfor %}
{% endif %}

server {
{% if item.listen is defined %}
{% for listen_entry in item.listen %}
    listen {{ listen_entry }};
{% endfor %}
{% endif %}

{% if item.use_ssl is defined and item.use_ssl == True %}
    ssl_certificate {{ item.ssl.certificate }};
    ssl_certificate_key {{ item.ssl.certificate_key }};
    ssl_session_timeout {{ item.ssl.session_timeout }};
    ssl_protocols {{ item.ssl.protocols | join(' ') }};
    ssl_ciphers {{ item.ssl.ciphers | join(':') }};
    ssl_prefer_server_ciphers {{ item.ssl.prefer_server_cipher }};
{% endif %}

{% if item.root is defined and item.root != '' %}
    root {{ item.root }};
{% endif %}
{% if item.server_name is defined and item.server_name %}
    server_name {{ item.server_name | join(' ') }};
{% endif %}
{% if item.index is defined and item.index != '' %}
    index {{ item.index }};
{% endif %}

{% if item.additional_rules is defined %}
{% for rule in item.additional_rules %}
    {{ rule }}
{% endfor %}
{% endif %}

{% if item.locations is defined %}
{% for location in item.locations %}
    location {{ location.target }} {
{% if location.options is defined %}
{% for location_option in location.options %}
        {{ location_option }};
{% endfor %}
{% endif %}
    }
{% endfor %}
{% endif %}
}

