# {{ ansible_managed }}

server {
{% for listen_entry in item.listen %}
    listen {{ listen_entry }};
{% endfor %}

{% if item.use_ssl %}
    ssl_certificate {{ item.ssl.certificate }};
    ssl_certificate_key {{ item.ssl.certificate_key }};
    ssl_session_timeout {{ item.ssl.session_timeout }};
    ssl_protocols {{ item.ssl.protocols | join(' ') }};
    ssl_ciphers {{ item.ssl.protocols | join(':') }};
    ssl_prefer_server_ciphers {{ item.ssl.prefer_server_cipher }};
{% endif %}

    root {{ item.root }};
    server_name {{ item.server_name }};

{% for location in item.locations %}
    {% include 'templates/server_location.j2' %}
{% endfor %}

}

